* {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

body {
    background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

.page-main {
    border-radius: 3px 0 0 3px;
    min-height: 480px;
    padding: 24px 400px;
    position: relative;
}

.content {
    overflow-x: visible;
    background: white;
    padding: 0px 50px;
}

hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: black;
    height: 1px;

}

 