.container-sfondo-starwars {
    margin-top: 10%;
    width: auto;
    height: 120vh;
    float: center;

    background-image: url("images/starwars/starwars.png");
    background-repeat: no-repeat;
    background-size: 100%;
}



.container-right {
    width: 38%;
    height: 38.3%;
    margin-left:15%;
    margin-top: 8%;
}

.container-sfondo-starwars p{
    color: white;
    font-weight: bolder;
    font-size: 2vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 0 0px 16px #000;
    margin-right: 32%;
}


 
@media screen and (max-width: 800px){
    
    .container-right{
        margin-left: 37%;
    }
    
    .container-sfondo-starwars p{
        font-size: 2.2vw;
    }

    .container-sfondo-starwars {
        margin-top: 10%;
        width: auto;
        height: 43vh;


        background-image: url("images/starwars/starwars-cell.png");
        background-repeat: no-repeat;
        background-size: 100%;
    }
}
 
